export(add_ext)
export(get_ext)
export(get_home_dir)
export(get_user)
export(has_ext)
export(is.osx)
export(is.unix)
export(is.windows)
export(is_ext)
export(replace_ext)
export(rm_ext)
import(assertthat)
importFrom(tools,file_ext)
importFrom(tools,file_path_sans_ext)
