S3method(dayte,Date)
S3method(dayte,POSIXct)
S3method(dayte,POSIXlt)
S3method(dayte,integer)
S3method(dayte,numeric)
S3method(dayte_time,Date)
S3method(dayte_time,POSIXct)
S3method(dayte_time,POSIXlt)
S3method(dayte_time,integer)
S3method(dayte_time,numeric)
export(add_ext)
export(capitalize_first_letter_words)
export(combine_date_time)
export(copy_directory)
export(dayte)
export(dayte_time)
export(delete_directory)
export(diel_period)
export(doy)
export(get_ext)
export(has_ext)
export(is.named)
export(is.unix)
export(is.windows)
export(is_ext)
export(paste_names)
export(replace_ext)
export(reverse_strings)
export(rm_ext)
export(user)
export(yesno)
import(assertthat)
importFrom(lubridate,day)
importFrom(lubridate,hour)
importFrom(lubridate,minute)
importFrom(lubridate,month)
importFrom(lubridate,second)
importFrom(lubridate,with_tz)
importFrom(lubridate,yday)
importFrom(lubridate,year)
importFrom(tools,file_ext)
importFrom(tools,file_path_sans_ext)
